<!DOCTYPE html>
<html lang="{{ app.request.get('_locale') }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Demo Bundle{% endblock %}</title>
        <link rel="icon" sizes="16x16" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bundles/acmedemo/css/demo.css') }}" />
    </head>
    <body>
        <div id="symfony-wrapper">
            <div id="symfony-header">
            <h1>Festival Alarm</h1>  


<nav>
    <ul>
    {# Small menu to access other languages #}
    {% for index, lang in {'tr':'Turkish','fr':'French', 'en':'English'} %}
       {% if index != app.request.get('_locale') %}
       <li><a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge({'_locale': index })) }}">{{ lang|trans }}</a></li>
       {% endif %}
    {% endfor %}
    </ul>
</nav>
          
	    </div>
	    

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="flash-message">
                    <em>Notice</em>: {{ flashMessage }}
                </div>
            {% endfor %}

            {% block content_header %}
                <ul id="menu">
                    {% block content_header_more %}
                        <li><a href="{{ path('_demo') }}">Demo Home</a></li>
                    {% endblock %}
                </ul>

                <div style="clear: both"></div>
            {% endblock %}

            <div class="symfony-content">
                {% block content %}
                {% endblock %}
            </div>

            {% if code is defined %}
                <h2>Code behind this page</h2>
                <div class="symfony-content">{{ code|raw }}</div>
            {% endif %}
        </div>
    </body>
</html>


